---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../utils/format-date";
import Slug from "./[slug].astro";
import Link from "../../components/Link.astro";

const shouldIncludeDrafts = process.env.NODE_ENV === 'development';

const posts = await getCollection(
    'blog',
    shouldIncludeDrafts ? undefined : (post: { data: { draft: any; }; }) => !post.data.draft
);

const sortedPosts = posts.sort((a: { data: { pubDate: any; }; },b: { data: { pubDate: any; }; }) => +b.data.pubDate! - +a.data.pubDate!);
---
<Layout title="blog | Luís Domingues">
    <main class="flex flex-col w-4/5 my-16">
        <h1 class="mx-8 font-bold text-zinc-900 text-xl md:text-2xl">Blogs</h1>
        <ul class="mx-8 space-y-1">
            {
                sortedPosts.map(({ slug, data }) => {
                    return (<li class="flex flex-wrap items-center gap-x-6">
                        <p class="text-zinc-700 text-sm">{formatDate(data.pubDate!)}</p>
                        <Link href={`/blog/${slug}`}>{data.title}</Link>
                    </li>)
                })
            }
        </ul>
    </main>
</Layout>