---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---
<Layout title="sobre mim | Luís Domingues">
    <main class="flex flex-col w-4/5 my-16 space-y-8">
        <h1 class="font-bold text-zinc-900 text-xl sm:text-2xl">Sobre mim</h1>
        <p>
            <span class="font-semibold">Yoo!</span> Me chamo Luís Domingues, sou desenvolvedor de software com foco em desenvolvimento backend. Minha jornada em programação começou quando eu tinha 14 anos, com tópicos de cibersegurança, o que me levou a ter interesse sobre diversas áreas no mundo da programação e engenharias correlacionadas.
        </p>
        <p>
            <span class="border-b border-zinc-700">Principais skills em backend são</span>,Java com Spring Boot, .NET (C# e ASP.NET), TypeScript, Lua, SQL Server, My SQL e MongoDB, e hospedagem com Azure.
        </p>
        <p>
            <span class="border-b border-zinc-700">Ferramentas de frontend que uso</span>: React, Blazor, TailwindCSS e Astro Framework.
        </p>
        <p>
            Fique à vontade para olhar meus projetos, ler alguns artigos que escrevi e entrar em contato comigo (:
        </p>
    </main>
</Layout>