---
import Layout from '../layouts/Layout.astro';
import AboutMe from '../components/AboutMe.astro';
---

<Layout>
	<main class="flex flex-col items-center max-sm:p-4 max-md:p-6 p-8">
		<AboutMe />
	</main>
</Layout>
