---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"
import NetworkGrid from "../components/NetworkGrid.astro"
---

<Layout title="Luís Domingues">
	<main class="my-16">
		<Card />
		<NetworkGrid />
	</main>
</Layout>