---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Tags from "../components/Tags.astro";
---
<Layout title="Projetos | Luís Domingues">
    <main class="flex flex-col w-4/5 my-16 space-y-8">
        <h1 class="font-bold text-zinc-900 mx-4 text-xl md:text-2xl">Projetos</h1>
        <section>
          <h2 class="flex mx-8 font-bold">
            <a href="" target="_blank" class="">nome projeto |<span class="font-light"> breve descrição</span></a>
          </h2>
          <p class="mx-8">sinopse do projeto</p>
          <Tags
            tags={[
              'ex1',
              'ex2'
            ]}
          />
        </section>
        <section>
          <h2 class="flex mx-8 font-bold">
            <a href="" target="_blank" class="">nome projeto |<span class="font-light"> breve descrição</span></a>
          </h2>
          <p class="mx-8">sinopse do projeto</p>
          <Tags
            tags={[
              'ex1',
              'ex2'
            ]}
          />
        </section>
    </main>
</Layout>