<!-- Footer.astro -->
---
const currentYear = new Date().getFullYear();
---

<footer class="p-6 text-center text-sm text-gray-500 border-t border-gray-300 bg-white">
	<div class="max-w-4xl mx-auto">
		<p>&copy; {currentYear} Luís Domingues <span class="px-2">|</span> Made with <span class="text-gray-400">&lt;/&gt;</span></p>
		<p class="mt-2 text-xs font-light tracking-wide">VERSION 3.1.0</p>
	</div>
</footer>
