<header class="flex flex-col items-center pt-8 pb-4 px-4 sm:pt-12 sm:pb-6">
    <nav class="flex gap-2 sm:gap-4">
        <a href="/" class="border border-black px-4 py-2 sm:px-5 sm:py-3 hover:bg-black hover:text-white transition-colors duration-200">
            <u>/home</u>
        </a>
        <a href="/projects" class="border border-black px-4 py-2 sm:px-5 sm:py-3 hover:bg-black hover:text-white transition-colors duration-200">
            <u>/projetos</u>
        </a>
        <a href="/blog" class="border border-black px-4 py-2 sm:px-5 sm:py-3 hover:bg-black hover:text-white transition-colors duration-200">
            <u>/blog</u>
        </a>
    </nav>
</header>