---
const { base } = Astro.props;
---

<header class="flex flex-row w-full items-center justify-end font-medium max-md:justify-center my-4">
    <nav class="flex gap-4 md:mr-16">
        <a href={`${base}/`} class="border-b border-transparent hover:border-current">/home</a>
        <a href={`${base}/projects`} class="border-b border-transparent hover:border-current">/projetos</a>
        <a href={`${base}/blog`} class="border-b border-transparent hover:border-current">/blog</a>
        <a href={`${base}/about`} class="border-b border-transparent hover:border-current">/sobre</a>
    </nav>
</header>