<header class="flex flex-row w-full items-center justify-end max-md:justify-center my-4 p-2">
    <nav class="flex gap-4 md:mr-16">
        <a href="/" class="border-b border-transparent hover:border-current">/home</a>
        <a href="/projects" class="border-b border-transparent hover:border-current">/projetos</a>
        <a href="/blog" class="border-b border-transparent hover:border-current">/blog</a>
        <a href="/about" class="border-b border-transparent hover:border-current">/sobre</a>
    </nav>
</header>