<div class="w-full max-w-3xl mx-auto space-y-8 p-4 sm:p-6">
    <h1 class="font-bold text-2xl md:text-3xl pb-2">
        <u>Meus projetos</u>
    </h1>
    
    <div class="space-y-4 p-4">
        <a href="#" class="font-semibold text-xl hover:underline underline-offset-4 transition-colors">
            › SocialNET
        </a>
        
        <p class="text-justify leading-relaxed text-gray-700">
            O SocialNET é uma rede social desenvolvida durante a suspensão
            do X/Twitter no Brasil. A ideia central do projeto era simular
            as principais funções do Twitter, como fazer postagens,
            visualizar postagens de outros usuários, interatividade como
            curtir posts, comentar, criação de threads, sistema de
            seguidores, editar perfil, stalkear outros perfis e um sistema
            de recomendação de usuários.
        </p>
        
        <a href="/projects/socialnet" class="inline-block border border-black bg-black text-white px-6 py-2 text-center max-sm:flex max-sm:justify-center hover:bg-transparent hover:text-black transition-all duration-200">
            Detalhes técnicos
        </a>
    </div>
</div>