<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Luís Domingues</title>
	</head>
	<body
		class="flex justify-center flex-col m-2 border font-nunito bg-primary text-primary"
	>
		<slot />
	</body>
</html>
